@model IEnumerable<HealthyProject.Models.Categoria>
@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>

@if (User.IsInRole("Admin"))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button> @Html.ActionLink("Criar Categoria", "CreateCategoria", "Categorias")</button>
            <button> @Html.ActionLink("Criar Subcategoria", "CreateSubcategoria", "Subcategorias")</button>
        </div>
    </div>
 }
<table>

    @foreach (var categoria in Model)
    {

        <h3 style="background-color:orange">
            @Html.DisplayFor(modelItem => categoria.Nome)
        </h3>


        foreach (var subcategoria in categoria.Subcategorias)
        {
            <h3>
                @Html.ActionLink(subcategoria.Nome, "Subcategoria", "Forum", new { id = subcategoria.SubcategoriaID }, null)
            </h3>
        }
    }
</table>