@model HealthyProject.Models.Post

@{
    ViewBag.Title = "Post";
}

<h2>@Model.Titulo</h2>



<div id="divComentarios">
    @{Html.RenderPartial("_PostPartial", Model); }
</div>



@using (Ajax.BeginForm("Post", "Forum", new { postId = Model.PostID }, new AjaxOptions() { OnSuccess= "CleanTextArea", HttpMethod = "Post", UpdateTargetId= "divComentarios" }))
{
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
        <label class="control-label col-md-2" for="Texto">Novo Comentário</label>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextArea("Comment")
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    
        }
@section Scripts{ 
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function updateLikes() {
            $('.likesLabel', $(this)).text(@ViewBag.Likes);
        }
        function CleanTextArea(){
            $('#Comment').val('');
        }
    </script>
}