@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
       
            <ul class="nav navbar-nav navbar-right">

                <li style="text-align:center">
                    @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })              
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                </li>
                
            </ul>

        

    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="text-align:center">
        @*<li>@Html.ActionLink("Registe-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li style="font-size:25px; text-decoration:underline">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
