@{
    <br />
    <br />
    ViewBag.Title = "O que oferecemos?";
    
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<br/>
<br />
<b style="padding-left:800px; text-align:center; font-family:MingLiU_HKSCS; font-size:50px" >@ViewBag.Title</b>
@*<h3>@ViewBag.Message</h3>*@

<body style="background-image:url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&w=931&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); background-size:cover">
    <div style="padding-left:600px; text-align: center">
       
        <br />
        <br />
        <br />
        <br />

        <b style="font-family:MingLiU_HKSCS; font-size:xx-large">Sistema de avaliação contínua, onde será possível acompanhar a evolução do seu peso tendo em conta o seu estilo de vida!</b>
        <br />
        <br />
        <br />
        <br />
        <br/>
        <b style="font-family:MingLiU_HKSCS; font-size:xx-large">Sugestões de refeições para o ajudar a cumprir os seus objectivos!</b>
        <br />
        <br />
        <br />
        <br />
        <br/>
        <b style="font-family:MingLiU_HKSCS; font-size:xx-large">
            Um fórum onde poderá partilhar receitas e opiniões com outros utilizadores!
        </b>        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>                    


                  


                    