@{
    <br />
    <br />
    ViewBag.Title = "O que Oferecemos?";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<h3 style="text-align:center">Sistema de avaliacao continua, onde sera possivel acompanhar a evolucao do seu peso tendo em conta todas as suas o seu estilo de vida!</h3>
<br/>
<br />
<h3 style="text-align:center">  Sugestoes de Refeicoes e Exercicio Fisico para o ajudar a cumprir os seus objetivos!</h3>
<br />
<br />
<h3 style="text-align:center">Um forum onde podera partilhar receitas e opinioes com outros utilizadores!
</h3>
                    


                  


                    