@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<body>
    @*<body style="background-image:url(http://www.dream-wallpaper.com/free-wallpaper/nature-wallpaper/grass-football-pitches-wallpaper/1440x900/free-wallpaper-20.jpg)">
       
        <style>
            #imagem {
                position: fixed;
                top: 0;
                left: 0;
                /* Preserve aspet ratio */
                min-width: 100%;
                min-height: 100%;
            }
        </style>*@
        <div>

            <br />
            <br />
            <br />
            <img src="~/Content/Images/Logo.PNG" alt="Logotipo" style="float:initial;width:200px;height:100px;" />
        </div>

        <br />



        <h1 align="center"> Healthy Project </h1>
        @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

        <br />
        <br />
        <br />
        <br />


        <div>
            @*<div style="background-image:url(https://cdn.pixabay.com/photo/2013/04/14/20/24/water-103817_960_720.jpg);">*@
            <h3 style="text-align:left">  Gostaria de ter maior controlo sobre o seu peso? </h3>

            <h3 style="text-align:center"> Um estilo de vida saudavel? </h3>

            <h3 style="text-align:right"> Melhor gestao das suas Refeicoes ?  </h3>


            <br />
            <br />
            <br />
            <br />

        </div>
        <div>
            <h3 style="text-align:center"> A nova aplicacao Healthy Project tem como objetivo  monitorizar o seu peso ajudando-o a alcancar os seus objetivos de forma rapida e eficaz!</h3>.
            <br />
            <br />
            <br />
            <br />


            <h3 style="text-align:center"> O que oferecemos?  </h3>
            <h3 style="text-align:left">
                <br />
                Sistema de avaliacao continua, onde sera possivel acompanhar a evolucao do seu peso tendo em conta todas as suas o seu estilo de vida!
                <br />
                <br />
                Sugestoes de Refeicoes e Exercicio Fisico para o ajudar a cumprir os seus objetivos!
                <br />
                <br />
                Um forum onde podera partilhar receitas e opinioes com outros utilizadores!

            </h3>
        </div>

        <br />
        <br />
        <br />

        <div style="text-align:center">

            <h3>Junte se a Nos</h3>

            <button style="background-color:darkseagreen; width:500px;height:50px;"> @Html.ActionLink("Registe-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>



        </div>


   


</body>








@*Informacao Anterior*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@


@*class="jumbotron"*@ 