@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")



<body>
    <br/>

     <div class="col-md-12" style="background-image:url(http://www.shineprowindowcleaning.com/wp-content/uploads/2016/02/background-blue-gradient.jpg); display:block;" >
  
             @*<h1 align="center"> Healthy Project </h1>*@
             @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
             <br />
             <br />
             <br />
             <br />  
             <h3 style="text-align:center">  Gostaria de ter maior controlo sobre o seu peso? </h3>

             <h3 style="text-align:center"> Um estilo de vida saudavel? </h3>

             <h3 style="text-align:center"> Melhor gestao das suas Refeicoes ?  </h3>
    
             <br />
             <br />
             <br />
             <br />
             <br />
         </div>
   
   
     <div class="row">
         <div  class="col-md-4"></div>
            <h3 style="text-align:center"> a nova aplicacao healthy project tem como objetivo  monitorizar o seu peso ajudando-o a alcancar os seus objetivos de forma rapida e eficaz!</h3>.
            <br />
            <br />
            <br />
            <br />

            <h3>junte se a nos</h3>

            <button style="background-color:lightblue; width:100px;height:50px; align-items:center"> @Html.ActionLink("Registe-se", "register", "account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>

        </div>
   
    
</body>




@*http://www.shineprowindowcleaning.com/wp-content/uploads/2016/02/background-blue-gradient.jpg*@
@*style="background-image: url(http://static.tumblr.com/17fe60d85d38327f4216e7fb11f81111/bwqiovp/jzyn2ivyx/tumblr_static_best-top-desktop-blue-wallpapers-hd-blue-wallpaper-beautiful-free-backgrounds-31.jpg)" bgproperties="fixed"*@


@*Informacao Anterior*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@


@*class="jumbotron"*@ 