body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#Facebook {
    background-image: url(https://www.facebook.com/images/fb_icon_325x325.png);
}


#Google {
    background-image: url(https://www.outsystems.com/forgeCore/_image.aspx/A28atdGCIn2i_ZW11S_0KWgJm3iqRyDV-m8=/google-login-plugin);
}

#Facebook, #Google{
    background-size:cover; /* faz com que a imagem se adeque ao tamanho do botão */
    height:45px;
    width:45px;
    border-radius:25px; /* faz com que os botões tenham cantos curvos */
}